/* line 14, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 13, ../src/screen.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 21, ../src/screen.scss */
* html .clearfix {
  zoom: 1;
}

/* IE6 */
/* line 22, ../src/screen.scss */
*:first-child + html .clearfix {
  zoom: 1;
}

/* IE7 */
/* line 18, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp label {
  font-weight: bold;
}
/* line 19, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 25, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.title {
  font-size: 1.5em;
}
/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input[type=checkbox], form.bp input.checkbox, form.bp input[type=radio], form.bp input.radio {
  position: relative;
  top: 0.25em;
}
/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 33, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  margin: 0.5em 0;
}
/* line 57, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  border: 1px solid #cccccc;
}
/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=text], form.bp input[type=password],
form.bp textarea, form.bp select {
  border: 1px solid #bbbbbb;
}
/* line 62, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus, form.bp select:focus {
  border: 1px solid #666666;
}
/* line 46, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
/* line 48, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  width: 390px;
  height: 250px;
}

/* line 29, ../src/screen.scss */
body.two-col #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
}
/* line 8, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
body.two-col #container {
  display: block;
}
/* line 31, ../src/screen.scss */
body.two-col header, body.two-col footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 138, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col header, * html body.two-col footer {
  overflow-x: hidden;
}
/* line 33, ../src/screen.scss */
body.two-col #sidebar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 190px;
}
/* line 138, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #sidebar {
  overflow-x: hidden;
}
/* line 37, ../src/screen.scss */
body.two-col #content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 590px;
  padding-left: 80px;
}
/* line 138, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #content {
  overflow-x: hidden;
}

/* line 44, ../src/screen.scss */
body {
  height: 100%;
  background: #d4cdbd;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #b8ae96), color-stop(100%, #d4cdbd));
  background-image: -moz-linear-gradient(top, #b8ae96 0%, #d4cdbd 100%);
  margin: 10px 0;
  background-repeat: no-repeat;
  font-family: "Helvetica Neue", "Arial", "Helvetica", sans-serif;
  font-size: 10pt;
}
/* line 52, ../src/screen.scss */
body a {
  text-decoration: none;
  font-weight: bold;
  color: #003975;
}
/* line 57, ../src/screen.scss */
body a:hover {
  text-decoration: underline;
}
/* line 60, ../src/screen.scss */
body p {
  line-height: 1.4em;
  margin: 1em 0;
}

/* line 66, ../src/screen.scss */
.awesome {
  background: #222;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
}

/* line 86, ../src/screen.scss */
.green.awesome {
  background-color: green;
}

/* line 89, ../src/screen.scss */
.green.awesome:hover {
  background-color: #22a222;
}

/* line 93, ../src/screen.scss */
.blue.awesome {
  background-color: #003975;
}

/* line 96, ../src/screen.scss */
.blue.awesome:hover {
  background-color: #225b97;
}

/* line 100, ../src/screen.scss */
div#container {
  -moz-box-shadow: #333333 1px 1px 5px;
  -webkit-box-shadow: #333333 1px 1px 5px;
  -o-box-shadow: #333333 1px 1px 5px;
  box-shadow: #333333 1px 1px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background: white url(../images/buildingcharcol.jpg) no-repeat;
  background-position: 0% 90%;
}

/* line 108, ../src/screen.scss */
header div#searchbar {
  text-align: right;
  font-size: 0.7em;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #003975), color-stop(100%, #001753));
  background-image: -moz-linear-gradient(top, #003975 0%, #001753 100%);
  height: 30px;
  padding-top: 5px;
  padding-right: 80px;
  color: #ccc;
}
/* line 116, ../src/screen.scss */
header div#searchbar a {
  color: #ccc;
}
/* line 119, ../src/screen.scss */
header div#searchbar input {
  margin-left: 10px;
}
/* line 123, ../src/screen.scss */
header div#logobar {
  height: 125px;
  color: white;
}
/* line 127, ../src/screen.scss */
header div#logobar a {
  display: block;
  margin: 1em auto;
  height: 125px;
  width: 325px;
  text-indent: -9999px;
  background-image: url(../images/cclogo.png);
}
/* line 136, ../src/screen.scss */
header navigation {
  font-size: 1.2em;
  padding-right: 80px;
  padding-left: 80px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 790px;
}
/* line 138, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html header navigation {
  overflow-x: hidden;
}
/* line 141, ../src/screen.scss */
header navigation a {
  color: black;
}
/* line 144, ../src/screen.scss */
header navigation a:hover {
  color: #003975;
}
/* line 147, ../src/screen.scss */
header navigation ul {
  list-style: none;
  border-bottom: 4px solid black;
  margin: 1em 0;
}
/* line 153, ../src/screen.scss */
header navigation li {
  float: left;
  position: relative;
  margin-bottom: -4px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 4px solid black;
}
/* line 162, ../src/screen.scss */
header navigation li a {
  margin-bottom: -4px;
  padding-bottom: 10px;
  display: block;
}
/* line 168, ../src/screen.scss */
header navigation ul .first {
  margin-left: 0px;
}
/* line 172, ../src/screen.scss */
header navigation ul .current {
  border-color: #003975;
}
/* line 176, ../src/screen.scss */
header navigation ul .current a, header navigation ul .current a:hover {
  border-left: 4px solid white;
  border-right: 4px solid white;
}
/* line 181, ../src/screen.scss */
header navigation div#nav_donate {
  float: right;
  margin-top: 5px;
}

/* line 189, ../src/screen.scss */
.boxgrid {
  width: 588px;
  height: 175px;
  margin: 0px;
  margin-bottom: 10px;
  background: white;
  border: solid 1px black;
  overflow: hidden;
  position: relative;
  -moz-box-shadow: #333333 1px 1px 5px;
  -webkit-box-shadow: #333333 1px 1px 5px;
  -o-box-shadow: #333333 1px 1px 5px;
  box-shadow: #333333 1px 1px 5px;
}
/* line 199, ../src/screen.scss */
.boxgrid img {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}
/* line 205, ../src/screen.scss */
.boxgrid p {
  padding: 0 10px;
  color: white;
  font: 10pt;
  margin: 1em;
}
/* line 211, ../src/screen.scss */
.boxgrid h3 {
  color: white;
  font-size: 1.7em;
  margin: 0.25em 1em;
}

/* line 218, ../src/screen.scss */
.boxcaption {
  float: left;
  position: absolute;
  background: #003975;
  height: 100px;
  width: 100%;
  opacity: 0.9;
}

/* line 227, ../src/screen.scss */
.caption .boxcaption {
  top: 140px;
  left: 0;
}

/* line 234, ../src/screen.scss */
div#front_action a {
  text-align: center;
  font-size: 2em;
  width: 170px;
  margin-bottom: 1em;
}

/* line 242, ../src/screen.scss */
div#lower_front {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 590px;
}
/* line 138, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html div#lower_front {
  overflow-x: hidden;
}
/* line 244, ../src/screen.scss */
div#lower_front div {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: #333333 1px 1px 5px;
  -webkit-box-shadow: #333333 1px 1px 5px;
  -o-box-shadow: #333333 1px 1px 5px;
  box-shadow: #333333 1px 1px 5px;
  border: 1px solid black;
  background: white;
  display: block;
  padding: 1em;
  margin: 1em 0;
}
/* line 253, ../src/screen.scss */
div#lower_front div#lower_front_top {
  float: left;
}
/* line 256, ../src/screen.scss */
div#lower_front div#lower_front_bottom {
  float: left;
}
/* line 259, ../src/screen.scss */
div#lower_front h2 {
  font-size: 1.5em;
  color: #003975;
  margin-bottom: 1em;
}
/* line 264, ../src/screen.scss */
div#lower_front ul li {
  margin-bottom: 1em;
}

/* line 272, ../src/screen.scss */
div#sidebar div#heathers_box div#heathers_text {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: #333333 1px 1px 5px;
  -webkit-box-shadow: #333333 1px 1px 5px;
  -o-box-shadow: #333333 1px 1px 5px;
  box-shadow: #333333 1px 1px 5px;
  border: 1px solid black;
  background: white;
}
/* line 278, ../src/screen.scss */
div#sidebar div#heathers_box p {
  margin: 0px;
  padding: 1em;
}

/* line 285, ../src/screen.scss */
footer {
  color: #ccc;
  margin-top: 2em;
  border-top: 1px solid black;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #003975), color-stop(100%, #001753));
  background-image: -moz-linear-gradient(top, #003975 0%, #001753 100%);
  font-size: 0.8em;
  line-height: 1.5em;
}
/* line 287, ../src/screen.scss */
footer table {
  padding: 0;
  margin: 0;
}
/* line 291, ../src/screen.scss */
footer a {
  color: #ccc;
  font-weight: normal;
}
/* line 295, ../src/screen.scss */
footer a:hover {
  color: white;
  text-decoration: underline;
}
/* line 305, ../src/screen.scss */
footer table {
  padding-left: 80px;
  padding-right: 80px;
  width: 100%;
  margin-top: 2em;
}
/* line 311, ../src/screen.scss */
footer table tr td {
  vertical-align: top;
}
/* line 314, ../src/screen.scss */
footer li {
  list-style: none;
}
/* line 317, ../src/screen.scss */
footer .footer_head {
  font-weight: bold;
  color: #ccc;
  margin-bottom: 1em;
}
/* line 323, ../src/screen.scss */
footer #footer_address p {
  margin-left: 30px;
}
/* line 327, ../src/screen.scss */
footer #copyright {
  text-align: center;
  padding: 1em;
}
