@import "compass/css3/gradient";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/reset/utilities";
@import "partials/base";
@import "blueprint";
//Recommended Blueprint configuration with scoping and semantic layout:

$ccblue: #003975;

@include global-reset;

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

body {
  #container {
    @include container; 
    width: 960px;
  }
  header, footer {
    @include column($blueprint_grid_columns); }
}

form.bp {
  @include blueprint-form; }

body.two-col {
  #sidebar {
    $sidebar_columns: 7;
    @include column($sidebar_columns, true); 
  }
  #content {
    $content_columns: 17;
    @include column($content_columns);
    //@include prepend(2);
   } 
}

body.one-col {
  #content {
    $content_columns: 24;
    @include column($content_columns);
    //@include prepend(2);
   } 
}
nav, div#action_buttons {
  @include append(1);
  @include prepend(1);
  @include column(22);
}

body {
  height: 100%;
  //background: #d4cdbd;
  //@include linear-gradient(color-stops(#b8ae96, #d4cdbd));
  background: #f7e9c6 url(../images/background.jpg) top;
  margin: 10px 0;
  background-repeat: no-repeat;
  font-family: "Helvetica Neue", "Arial", "Helvetica", sans-serif;
  font-size: 10pt;
  a {
    text-decoration: none;
    font-weight: bold;
    color: $ccblue;
  }
  a:hover {
    text-decoration: underline;
  }
  p {
    line-height: 1.4em;
    margin: 0 0 1em 0;
  }
}

.aligncenter {
	text-align: center;
}

.alignleft {
	text-align: left;
}

.alignright {
	text-align: right;
}

.awesome {
  background: #222;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);

  position: relative;
  cursor: pointer;
} 

.green.awesome {
  background-color: green;
}
.green.awesome:hover {
  background-color: green + #222;
}

.blue.awesome {
  background-color: $ccblue - #222;
}
.blue.awesome:hover {
  background-color: $ccblue + #222;
}

header div#searchbar, header nav, footer {
  @include background-image(linear-gradient(color-stops($ccblue, $ccblue - #022 )));
  /* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#003975, endColorstr=#001753, GradientType=0)";
}

header, footer {
  @include box-shadow;
  @include border-radius;
  border: 1px solid black;
}
div#container {
  //@include box-shadow;
  //@include border-radius;
  //border: 1px solid black;
  //background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($ccblue), to($ccblue - #022) );
}
header {
  div#searchbar {
    text-align: right;
    font-size: 0.8em;
    height: 30px;
    padding-top: 5px;
    @include append(1);
    color: #ccc;
    form {
      display: inline;
    }
    a {
      color: #ccc;
      font-weight: normal;
    }
    input {
      margin-left: 10px;
      color: black;
    }
    .faded {
      color: #777;
    }
  }
  div#logobar {
    padding: 1em 0;
    border-top: 1px solid $ccblue;
    border-bottom: 1px solid black;
    height: 100px;
    color: white;
    background: white;
    a {
      display: block;
      float: left;
      margin-left: 40px; 
      height: 100px;
      width: 260px;
      text-indent: -9999px;
      background-image: url(../images/cclogo.png);
    }  
    div#creed {
      float:right;
      margin-right: 40px;
      margin-top: 10px;
      color: $ccblue;
      font-size: 2em;
      font-family: serif;
    }
  }
  nav {
    height: 34px;
    div#nav_donate {
      margin: 5px 0;
      font-size: 1.05em;
      float:right;
    }
  }

}


div#featured_stories, div#sidebar, div#content {
  margin-top: 1em;
}

div#featured_stories {
  @include column(24);
  $featured_height: 400px;
  div#pager {
    text-align: center;
    position: relative;
    margin: 5px 0;
    z-index: 10;
    bottom: 25px;
    float: right;
    width: 230px;
    
    a {
      display: inline-block;
      height: 10px;
      width: 10px;
      margin-right: 5px;
      //background-image: url(../images/arrow-blue.png);
      text-indent: 9999px;
      background: black;
      @include border-radius;
    }
    a.activeSlide {
      background: green;
    }
  }
  .readstory {
    bottom: 30px;
    text-align: center;
    position: absolute;
    width: 230px;
  }
  .boxgrid {
    @include column(24);
    height: $featured_height;
    margin: 0px;
    margin-bottom: 10px;
    border: solid 1px black;
    overflow: hidden;
    @include box-shadow;
    img {
      position: absolute;
      top: 0;
      left: 0;
      border: 0;
      width: 720px;
    }
    p {
      padding: 0 10px;
      color: white;
      margin: 1em;
    }
    h3 {
      color: white;
      font-size: 1.5em;
      margin: 0.25em 1em;
    }
  }
  .boxcaption {
    position: absolute;
    background: #333;
    height: $featured_height;
    @include column(6, true);
    bottom: 0px;
    right: 0;
  }
}
  

div#action_buttons {
  font-size: 1.75em;
  text-align: center;
}

div#content_container, div#sidebar_container{
  border: 1px solid black;
  background: white;
  @include border-radius;
  @include box-shadow;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000')"; /* IE8 fix */
  padding-top: 1em;
  padding-bottom: 1em;
  @include prepend(1);
  @include append(1);
  h1, h2, h3 {
    color: $ccblue;
    margin: 1em 0 1em 0;
    padding: 0 0 5px 0;
    a {
      font-weight: normal;
    }
  }
  h1, h2
  {
    border-bottom: 1px solid $ccblue;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
	margin-bottom: 0.5em;
  }
  h3 {
    font-size: 1.2em;
	margin-bottom: 0em;
  }

  h4 {
	font-weight: bold;
  }
  
  li {
	line-height: 1.5em;
  }

  
}

div#content_container {
  ul {
    list-style: disc;
  }
  ol {
	list-style: decimal;
  }

  ul, ol {
	margin-bottom: 1em;
  }
  li {
	margin-left: 1em;
	line-height: 1.5em;
  }
  blockquote {
    border-left: 3px solid $ccblue;
    margin: 1em;
    padding: 0 1em;
    font-style: italic;
  }
  em {
    font-style: italic;
  }
  strong {
    font-weight: bold;
  }
  pre, code {
    font-family: monospace;
  }
}
div.job-listing {
  border-bottom: 1px solid $ccblue;
  margin-bottom: 1em;

}

//wierd CSS heiarcy issue
#content_container h3.job-title {
    margin: 0;
}

ul#sidebarnav {
  list-style: none;
  margin-left: 0em;
}

ul#related-docs {
	list-style: disc;
	margin-left: 1em;
}

#sidebar_container h2#related-header {
	margin-top: 2em;
}

footer {
  color: #ccc;
  table {
    padding: 0;
    margin: 0;
  }
  a {
    color: #ccc;
    font-weight: normal;
  }
  a:hover {
    color: white;
    text-decoration: underline;
  }
  margin-top: 2em;
  margin-bottom: 1em;
  border-top: 1px solid black;
  font-size: 0.8em;
  line-height: 1.5em;
  table {
    @include prepend(1);
    @include append(1);
    width: 100%;
    margin-top: 2em;
  }
  table tr td {
    vertical-align: top;
    width: 1%;
  }
  li {
    list-style: none;
  }
  .footer_head {
    font-weight: bold;
    color: #ccc;
    margin-bottom: 1em;
    margin-top: 0px;
  }
  #footerlinks {
    text-align: center;
    padding: 1em;
    div {
      display: inline;
    }
    #socialmedia {
	@include float-left;
	padding-left: 2em;
    }
    #affiliates {
      @include float-right;
      padding-right: 2em;
    }
    #copyright {
	display:block;
	clear:both;
	text-align:right;
	padding-right: 2em;
    }
  }
}

#simplemodal-overlay {background-color:#000;}
#simplemodal-container {background-color:#333; border:8px solid #444; padding:12px;}